<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.programming.kantech.app.jokedisplay">

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".Activity_DisplayJoke"></activity>
    </application>

</manifest>